@import "tailwindcss";

:root {
  --background: oklch(0.9265 0.0022 17.2);
  --foreground: oklch(20.5% 0 0); 
  --primary: oklch(0.4711 0.1 328.4);
  --primary-200: oklch(0.80 0.08 328.4);
  --primary-500: oklch(0.4711 0.1 328.4);
  --primary-600: oklch(0.40 0.12 328.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-200: var(--primary-200);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --font-quick: var(--font-quicksand);
  --font-open: var(--font-opensans);
  --font-lemon: var(--font-lemon);
  --font-mulish: var(--font-mulish);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  min-height: 100vh;
  color: var(--foreground);
}
/* default styles wrapped in a layer to let utility classes override them */
@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }
}