@import "tailwindcss";

:root {
  --background: oklch(0.9265 0.0022 17.2);
  --foreground: oklch(20.5% 0 0); 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand);
}

body {
  background: var(--background);
  min-height: 100vh;
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}